@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Outfit', 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
